@import "tailwindcss";

@theme {
  /* En v4, el prefijo --color- es lo que genera las clases bg-, text-, etc. */
  --color-primary: #05070A;
  --color-secondary: #1A1D23;
  --color-accent: #2EB5FF;
  --color-contrast: #FFE81F;
}
